<h1>Welcome!</h1>

<% if !logged_in? %>
    <p>Do you have a great idea for a band name? Do you want to see other great ideas for band names? This is the place for you!
    Enter your band name ideas, vote on other band name ideas... Become a <i>Bandnamer</i>.</p>
    <p>
    <%= link_to "Log in", login_path, :class => "btn btn-primary" %> or 
    <%= link_to "Sign up", signup_path, :class => "btn btn-primary" %> to get started.
    </p> 
<% else %>
    <p><%= link_to "Enter a band name", idea_path, :class => "btn btn-primary" %></p>
    <p>Click on any band name to vote</p>
    </ul>
<% end %>

<h1>Top Band Names</h1>

<table class="tablemd table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Rank</th>
    </tr>
  </thead>
  <tbody>
        <%= render @bandnames %>
  </tbody>
</table>
<%= will_paginate @bandnames %>
