<% provide(:title, @user.name) %>
<h1>
  <%= @user.name %>
</h1>
<% if @bandnames.any? %>
  <h2>Band Names (<%= @bandnames.count %>)</h2>
  <table class="tablemd table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Rank</th>
      </tr>
    </thead>
    <tbody>
          <%= render @bandnames %>
    </tbody>
  </table>
  <%= will_paginate @bandnames %>
<% end %>
<br>
<p><%= link_to "Home", root_path, :class => "btn btn-primary" %></p>

