<% provide(:title, @bandname.name) %>
<h1>
  <%= @bandname.name %>
</h1>
<ul>
  <li>Created by <%= User.find(@bandname.user_id).name %></li>
  <% if logged_in? %>
    <li>
      Your vote:
      <!-- 1 star -->
      <%= link_to like_bandname_path(@bandname, :rank => 1), method: :put do %>
        <% if current_user_vote > 0 %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %>
      <!-- 2 star -->
      <%= link_to like_bandname_path(@bandname, :rank => 2), method: :put do %>
        <% if current_user_vote > 1 %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %>
      <!-- 3 star -->
      <%= link_to like_bandname_path(@bandname, :rank => 3), method: :put do %>
        <% if current_user_vote > 2 %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %>
      <!-- 4 star -->
      <%= link_to like_bandname_path(@bandname, :rank => 4), method: :put do %>
        <% if current_user_vote > 3 %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %>
      <!-- 5 star -->
      <%= link_to like_bandname_path(@bandname, :rank => 5), method: :put do %>
        <% if current_user_vote > 4 %>
          <span class="glyphicon glyphicon-star"></span>
        <% else %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      <% end %>
  <% end %>
</ul>
<p><%= link_to "Home", root_path, :class => "btn btn-primary" %></p>
