<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <div class='navbar-header'>
        <%= link_to "Bandnamit", root_path, id: "logo" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <% if logged_in? %>
                <%= @current_user.name %> <b class="caret"></b>
              <% else %>
                Bandnamer <b class="caret"></b>
              <% end %>
            </a>
            <ul class="dropdown-menu">
            <% if logged_in? %>
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li><%= link_to "Users", users_path %></li>
              <li class="divider"></li>
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Log in", login_path %></li>
              <li><%= link_to "Sign up", signup_path %></li>
            <% end %>
            </ul>
          </li>
      </ul>
    </nav>
  </div>
</header>